<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a6e1bc2079.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="imgContainer">
                <div class="imgHolder">
                    <img class="thumbnail" src="https://th.bing.com/th/id/OIP.AiWFWy2E7XXt7nLTNtuUpwHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain">
                    <div class="address">
                        <p class="userName">
                            Bullet Train
                        </p>
                        <span class="innerText">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been...
                        </span>  
                    </div>
                </div>
                <div class="videoDetail">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <span>Category</span>
                    </div>
                    
                    <span>28 January, 2025</span>

                </div>
            </div>

            <div class="imgContainer">
                <div class="imgHolder">
                    <img class="thumbnail" src="https://th.bing.com/th/id/OIP.AiWFWy2E7XXt7nLTNtuUpwHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain">
                    <div class="address">
                        <p class="userName">
                            Bullet Train
                        </p>
                        <span class="innerText">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been...
                        </span>  
                    </div>
                </div>
                <div class="videoDetail">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <span>Category</span>
                    </div>
                    
                    <span>28 January, 2025</span>

                </div>
            </div>

            <div class="imgContainer">
                <div class="imgHolder">
                    <img class="thumbnail" src="https://th.bing.com/th/id/OIP.AiWFWy2E7XXt7nLTNtuUpwHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain">
                    <div class="address">
                        <p class="userName">
                            Bullet Train
                        </p>
                        <span class="innerText">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been...
                        </span>  
                    </div>
                </div>
                <div class="videoDetail">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <span>Category</span>
                    </div>
                    
                    <span>28 January, 2025</span>

                </div>
            </div>
        </div>
    </body>
</html>