.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}
.imgContainer {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.imgHolder {
    position: relative;
    opacity: 0.8;
    transition: ease-in-out;
}
.imgHolder:hover {
    background-color: #242429;
    opacity: 0.9;
}
.thumbnail {
    width: 100%;
    display: block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}



.fa-circle {
    margin-right: 5px;
}
.videoDetail {
   display: flex;
   justify-content: space-between;
   padding: 15px;
}
.fa-magnifying-glass {
    margin-right: 30px;
}
.address {
    position: absolute;
    bottom: 20px;
    color: #fff;
    margin-left: 10px; 
}
.userName {
    font-size: 18px;
    margin-bottom: 3px;
}
.innerText {
    font-size: 15px;
}


@media only screen and (max-width: 900px) {

    .container {
        grid-template-columns: none;
    }
    
}

    